.indexNav {
    display: flex;
    gap: 1.2rem;
    width: 100%;
    background-color: var(--black);
    border: 0.5px solid var(--strong-gray);
    padding: 1.4rem 2rem;
    border-radius: 1rem;
}
.indexNav a {
    font-size: 1.3rem;
    color: var(--gray);
}
.indexNav a:hover {
    color: var(--white);
}

.listMovements {
    display: flex;
    gap: 2rem;
    margin-top: 1rem;
}
.listMovements .item {
    border-right: 1px solid var(--gray);
    padding-right: 2rem;
}
.listMovements .item p {
    color: #b8b8b8;
}
.listMovements .item p.number {
    color: var(--white);
}
.listMovements .item:last-of-type {
    border: none;
}