.listMovements {
    display: flex;
    gap: 2rem;
    margin-top: 1rem;
}
.listMovements .item {
    border-right: 1px solid var(--gray);
    padding-right: 2rem;
}
.listMovements .item p {
    color: #b8b8b8;
}
.listMovements .item p.number {
    color: var(--white);
}
.listMovements .item:last-of-type {
    border: none;
}